[submodule "QT6-QuNeo/inc/KMI_MIDI_Device_Manager"]
	path = QT6-QuNeo/inc/KMI_MIDI_Device_Manager
url=ssh://git@github.com:Muse-Kinetics/kmi_midi_device_manager.git
[submodule "QT6-QuNeo/inc/KMI_Ports"]
	path = QT6-QuNeo/inc/KMI_Ports
url=ssh://git@github.com:Muse-Kinetics/kmi_ports.git
[submodule "QT6-QuNeo/inc/RtMidi"]
	path = QT6-QuNeo/inc/RtMidi
	url = https://github.com/thestk/rtmidi.git
[submodule "QT6-QuNeo/inc/KMI_Updates"]
	path = QT6-QuNeo/inc/KMI_Updates
url=ssh://git@github.com:Muse-Kinetics/kmi_updates.git